Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==6.0.0
Shapely==1.6.4.post2
attrs==19.1.0
branca==0.3.1
cefpython3==66.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
folium==0.8.3
idna==2.8	2.8
ipython-genutils
jsonschema==3.0.1
jupyter-core
kiwisolver==1.1.0
matplotlib==3.0.3
nbformat==4.4.0
numpy==1.16.3
pandas==0.24.2
pip==19.1
plotly==3.8.1
pyparsing==2.4.0
pyrsistent==0.15.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
retrying==1.3.3
scikit-learn==0.20.3
scipy==1.2.1
setuptools==41.0.1
six==1.12.0
sklearn==0.0
traitlets==4.3.2
urllib3==1.24.2
wheel==0.33.1
#install gtk2 version of wxpython only. gtk3 doesn't work with cefpython properly
wxPython==4.0.4